* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    display: block;
    height: auto;
    padding: 0px;
    width: 100%;
    margin: auto;
    border-style: none;
    background-color: #fff;
}

.header {
    color: black;
    position: relative;
    width: 100%;
    height: 110px;
    font-family: "Josefin Slab";
    margin: auto;
}

.title {
    position: relative;
    top: 30px;
    left: 30px;
    color: black;
    font-size: 2em;
}

.icons {
    color: black;
    display: block;
    right: 30px;
    top: 30px;
    position: absolute;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    font-family: "Josefin Slab";
    font-size: 2em;
}

a:hover {
    color: #ff5b33;
    text-decoration: none;
    opacity: 0.9;
    -webkit-transition: all .7s ease;
     -moz-transition: all .7s ease;
       -o-transition: all .7s ease;
      -ms-transition: all .7s ease;
          transition: all .7s ease;
}

.views {
    width: 80%;
    margin: auto;
    position: relative;
    height: auto;
}

.home-qualities {
    padding: 0px;
    font-size: 2em;
    font-family: "Courier";
    color: black;
    text-align: center;
}

.home-qualities:after {
    visibility: visible;
    content: '';
    background-color: gray;
    display: inline-block;
    position: relative;
    width: 0.5em;
    height: 1em;
    top: 5px;
    margin-left: 0;
    -moz-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
    -webkit-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
    animation: blink 1s infinite;
}
@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
} 

@keyframes blink{
    to{opacity: .0;}
}

.typed-cursor{
    display: none;
}
.homeContainer {
    position: relative;
    height: 100vh;
}
.resumeContainer {
    position: relative;
}


h1 {
/*    text-align: center;*/
    color: black;
    font-family: "Josefin Slab";
    margin: 0px;
}

.work, .resume, .faqs {
    text-align: left;
    margin: auto;
    font-family: sans-serif;
    font-size: 1.3em;
    position:relative;
    width:100%;
    height:auto;
    font-family: "Josefin Slab";
    line-height: 24px;
    color: black;
    text-decoration: none;
    padding:10px;
    background-color: none;
}

.manuels {
    position: relative;
    display: block;
    height: auto; 
    width: 80%; 
    margin: auto
}

.resume .link {
    color: #ff5b33;
    font-size: 1em;
}

.cool, .lame {
    width:50px;
    right:20px;
    bottom:20px;
    background:#ff5b33;
    color:#fff;
    font-family: "Josefin Slab";
    height:25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.cool:hover, .lame:hover {
    background:#fff;
    color:#ff5b33;
    -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;
}

.email-wrapper {
    display: block;
    margin: auto;
}

form {
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin:auto;
    position:relative;
    width:100%;
    height:450px;
    font-family: "Josefin Slab";
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #ff5b33;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    
}

input {
    width:100%;
    display:block;
    border: 1px solid #999;
    height: 25px;
}

textarea {
    width:100%;
    display:block;
    border: 1px solid #999;
    height: 200px
}

.submit-email {
    width:100px;
    position:absolute;
    right:20px;
    bottom:20px;
    background:#ff5b33;
    color:#fff;
    font-family: "Josefin Slab";
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.submit-email:hover {
    background:#fff;
    color:#ff5b33;
    -webkit-transition: all .7s ease;
     -moz-transition: all .7s ease;
       -o-transition: all .7s ease;
      -ms-transition: all .7s ease;
          transition: all .7s ease;
}

textarea:focus, input:focus {
    border: 1px solid #09C;
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 1em;
    }
}
