* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    display: block;
    height: auto;
    padding: 0px;
    width: 90%;
    margin: auto;
    border-style: none;
    background-image: url("images/fabric_of_squares_gray.png");
}

.wrapper {
    position: relative;
    display: block;
    min-height: 95vh;
    height: auto;
    padding: 0px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-image: url("images/fabric_of_squares_gray.png");
}

.header {
    position: relative;
    width: 100%;
    height: 110px;
    font-family: "Indie Flower";
    margin: auto;
    border-bottom: 1px solid lightgray;
    background-image: url("images/fabric_of_squares_gray.png");
}

.myname {
    position: absolute;
    left: 30px;
    top: 30px;
    color: gray;
    font-size: 3em;
}

.navbar {
    right: 10px;
    bottom: 0px;
    position: absolute;
    
}

ul li {
    display: inline-block;
    padding: 5px;
}

a:link, a:visited {
    text-decoration: none;
    color: gray;
    font-family: "Indie Flower";
    font-size: 2em;
}

a:hover {
    color: #ff5b33;
    text-decoration: none;
    opacity: 0.9;
    -webkit-transition: all .7s ease;
     -moz-transition: all .7s ease;
       -o-transition: all .7s ease;
      -ms-transition: all .7s ease;
          transition: all .7s ease;
}

.view-container {
    width: 100%;
    margin: auto;
    position: relative;
    height: auto;
}

.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    border-radius: 60%;
}

.home-qualities {
    position: relative;
    font-size: 3em;
    font-family: "Josefin Slab";
    color: gray;
    text-align: center;
}

.container {
    position: relative;
}

.skills {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skills img {
    padding: 10px;
    width: 128px;
    height: 128px;
}

.icons {
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding-top: 5px;
}

h1 {
    text-align: center;
    color: gray;
    font-family: "Indie Flower";
    
}

.work, .resume, .faqs {
    text-align: center;
    margin: auto;
    font-family: sans-serif;
    font-size: 1.3em;
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    position:relative;
    width:100%;
    height:auto;
    font-family: "Josefin Slab";
    line-height: 24px;
    font-weight: bold;
    color: gray;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    background-color: white;
}

.manuels {
    position: relative;
    height: auto; 
    width: 100%; 
    margin: auto
}

.cool, .lame {
    width:50px;
    right:20px;
    bottom:20px;
    background:#ff5b33;
    color:#fff;
    font-family: "Indie Flower";
    height:25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.cool:hover, .lame:hover {
    background:#fff;
    color:#ff5b33;
    -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;
}

.email-wrapper {
    display: block;
    margin: auto;
    
}

form {
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin:auto;
    position:relative;
    width:100%;
    height:450px;
    font-family: "Indie Flower";
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #ff5b33;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    background-color: white;
}

input {
    width:90%;
    display:block;
    border: 1px solid #999;
    height: 25px;
}

textarea {
    width:90%;
    display:block;
    border: 1px solid #999;
    height: 75px
}

.submit-email {
    width:100px;
    position:absolute;
    right:20px;
    bottom:20px;
    background:#ff5b33;
    color:#fff;
    font-family: "Indie Flower";
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.submit-email:hover {
    background:#fff;
    color:#ff5b33;
    -webkit-transition: all .7s ease;
     -moz-transition: all .7s ease;
       -o-transition: all .7s ease;
      -ms-transition: all .7s ease;
          transition: all .7s ease;
}

textarea:focus, input:focus {
    border: 1px solid #09C;
}



@media screen and (max-width: 1400px) {
    a:link {
        font-size: 1.5em;
    }
    .myname {
        font-size: 2em;
        top:40px;
    }
    .navbar {
        bottom: 8px;
    }
    .home-qualities {
        font-size: 2em;
    }
    .skills img {
        height: auto;
        width: 100px;
    }
}

@media screen and (max-width: 1300px) {
    form {
        width: auto;
        height: 300px;
    }
    textarea {
        width: auto;
        height: 30px;
    }
    a:link {
        font-size: 1.5em;
    }
    .myname {
        font-size: 2em;
    }
    .home-qualities {
        font-size: 2em;
    }
    .skills img {
        height: auto;
        width: 100px;
    }
}

@media screen and (max-width: 1200px) {
    a:link {
        font-size: 1.5em;
    }
    
    .myname {
        font-size: 1.5em;
    }
    .navbar {
        font-size: 0em;
    }
    .home-qualities {
        font-size: 1.5em;
        text-align: center;
        float: none;
        padding-right: 80px;
    }
    .skills img {
        margin-left: 0px;
        height: auto;
        width: 100px;
    }
    .boxjump {
        width: 200px;
        height: auto;
    }
    
}

@media screen and (max-width: 900px) {
    .work, .resume, .faqs {
        margin-left: auto;
    }
    .boxjump {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .profilepic {
        width: 0px;
        height: 0px;
    }
}